/* palette colori */
/* Dark #1f0322 */
/* Soft dark #9F838C */
/* Soft #BAABBD */


/* font-family: 'Allura', cursive;

font-family: 'Noto Sans', sans-serif; */




@import url('https://fonts.googleapis.com/css2?family=Allura&family=Noto+Sans:wght@200&display=swap');


body{
    background-color: #ffffff;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.header {
    padding: 60px;
    text-align: center;
    background-color: #20341fcb;
    color: #221e23;
    font-size: 30px;
    font-family: 'Allura', cursive;
    
  }


.nav-link{
    color: #081609bd;
    font-size: medium;
    font-weight: bold;
    margin: 0px 4px;
}



main{
    width: 600px;
    margin:auto;
    background-color: white;
    padding: 16px;
}


.home-img{
    width: 100%;
}